.country_list_item {
  margin-bottom: 10px;
  font-size: 20px;
}

.country_list_text {
  font-weight: 900;
}

.languagies_list_item {
  margin-top: 10px;
  margin-bottom: 10px;
  color: teal;
}

.languagies_list {
  margin-bottom: 10px;
}

.country_title {
  font-size: 30px;
  font-weight: 900;
  color: blue;
}

.search-form {
  font-size: 20px;
  border-radius: 30px;
}

.preview_title {
  font-size: 20px;
  color: blue;
}
